<% include partials/header %>

<img src="https://sarv.com/inc/images/img/multiple-contactlist.svg">
<h1>Contact List</h1>
<hr>
<% contacts.forEach(function(contact){ %>
    <li><%= contact %></li>
<% }); %> 
<br>

<form autocomplete='off' action='/addcontact' method='POST'>
    <input type='text' name='newcontact' placeholder='Contact'>
    <button>Add Contact</button>
</form>

<% include partials/footer %>