@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
    border: 20px solid rgb(57, 57, 58);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    max-width: 800px;
    background-color: rgb(200, 202, 206);
    border-radius: 2%;
    }

h1  {
    color: steelblue;
    font-size: 45px;
    float: right;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    padding-top: 60px;
    padding-right: 330px;
}

.title {
    padding-right: 430px;
}

img {
    width: 20%;
    padding-bottom: 7px;
}

li {
    padding-top: 4px;
    font-size: 20px;
    color: steelblue;
    font-family: 'Source Sans Pro';
    font-weight: 700;
}

button {
	border: none;
	text-transform: uppercase;
	font-weight: bolder;
	color: steelblue;
	font-size: inherit;
	transition: all 0.3s;
}

button:hover {
    color: white;
    background: steelblue;
}

div {
    background: rgb(57, 57, 58);
    color: rgb(200, 202, 206);
}


